*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
form input{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form textarea{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 120px;
}
/* src/app.css */
body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}
